:root {
  --color-primary: skyblue;
  --color-primary-dark: blue;
  --color-secondary: lightcoral;
  --color-secondary-dark: red;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: whitesmoke;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: black;
  font-weight: 400;
  line-height: 1.6;
  margin: 3rem;
}

.card-section {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--color-primary)),
    to(var(--color-primary-dark))
  );
  background-image: -o-linear-gradient(
    left top,
    var(--color-primary),
    var(--color-primary-dark)
  );
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem;
  padding-top: 10rem;
  min-height: 100vh;
  -ms-flex-line-pack: center;
  align-content: center;
}

.filter__box {
  position: absolute;
  padding-bottom: 2rem;
  font-size: 3rem;
  top: 5rem;
}

.filter__input {
  font-size: inherit;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
}

.card {
  width: 30rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card:hover {
  background-color: whitesmoke;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
}

.card:hover .card__img {
  background-color: transparent;
  -webkit-animation: floating 3s infinite;
  animation: floating 3s infinite;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateX(0) scale(1.3);
    transform: translateX(0) scale(1.3);
  }
  25% {
    -webkit-transform: translateX(-1rem) scale(1.3);
    transform: translateX(-1rem) scale(1.3);
  }
  75% {
    -webkit-transform: translateX(1rem) scale(1.3);
    transform: translateX(1rem) scale(1.3);
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1.3);
    transform: translateX(0rem) scale(1.3);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateX(0) scale(1.3);
    transform: translateX(0) scale(1.3);
  }
  25% {
    -webkit-transform: translateX(-1rem) scale(1.3);
    transform: translateX(-1rem) scale(1.3);
  }
  75% {
    -webkit-transform: translateX(1rem) scale(1.3);
    transform: translateX(1rem) scale(1.3);
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1.3);
    transform: translateX(0rem) scale(1.3);
  }
}

.card:hover .card__info--button {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card:hover .card__info--button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.card__img {
  background-color: white;
  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.card__name {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.card__info {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 1rem;
  color: white;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card__info--button,
.card__info--button:link,
.card__info--button:visited {
  width: 100%;
  background-color: lightsteelblue;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card__info--button:hover {
  font-weight: 800;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.card__info--details {
  color: black;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  height: 0;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}

.card__info--details-show {
  padding-top: 2rem;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: -100%;
  -ms-transform-origin: -100%;
  transform-origin: -100%;
}

.card__abilities--header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.card__abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.card__abilities--ability {
  list-style: none;
  background-color: var(--color-secondary-dark);
  border-radius: 1.5rem;
  padding: 0.3rem 1.3rem;
  margin: 0.5rem;
  color: white;
}
.card__abilities--ability:not(:last-child) {
  margin-right: 1.5rem;
}
